.Rproj.user
.Rhistory
.RData
.Ruserdata
R/archive/
figs/date_shuffle
figs/archive
slides
output/model_runs/full_data
data/simulated/simulated_catchment_populations.csv
data/simulated/simulated_facility_distances.csv
data/simulated/simulated_hospital_counts.csv
data/simulated/simulated_ww_data.csv
data/bug_testing